 <div class="medium-12 columns" text-center id='login'>
	<div class="row collapse postfix-round">
		<div class="small-1 medium-5 columns">&nbsp;</div>
		<div class="small-6 medium-4 columns">
			<input type="text" placeholder="Value" id="summonerNameInput">
		</div>
		<div class="small-6 medium-3 columns">
	 		<a href="#" class="button postfix success">Go</a>
		</div>
	</div>
</div>

<div class="reveal" id="disclaimerModal" data-reveal>
  <h1>Le Disclaimer</h1>
  <p class="lead">If you find any bugs with After Game Notifier, please email them to emailaddr@gmail.com. After Game Notifier is not endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
 
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>