 <div class="medium-12 columns" text-center id='login'>
	<div class="row collapse postfix-round">
		<div class="small-1 medium-5 columns">&nbsp;</div>
		<div class="small-6 medium-4 columns">
			<input type="text" placeholder="Value" id="summonerNameInput">
		</div>
		<div class="small-6 medium-3 columns">
	 		<a href="#" class="button postfix success">Go</a>
		</div>
	</div>
</div>