// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  @include cover-background('http://na.leagueoflegends.com/sites/default/files/upload/art/bg_event_poolpartyziggs_1920x1080.jpg');
}

.donate-button {
  //line-height: 45px;

  .donate-image {
    width: 130px;
  }
}


#main-content {
  // @include cover-background('http://na.leagueoflegends.com/sites/default/files/upload/art/bg_event_poolpartyziggs_1920x1080.jpg');
  flex: 1;
}

#footer {
  //height: 48px;
  width: 100%;
  background-color: #00B2EE;
  position: absolute;
  bottom: 0px;
}

#foot {
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  bottom: 0;
  margin-top: 7px;
  margin-bottom: 7px;
}


#login {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#summonerNameInput {
	display: block;
}

a {
	color: rgb(255,255,255);
}


//.top-bar {
//	background-color: transparent;
//
//	ul {
//		background-color: transparent;
//	}
//}

//a {
//	color: "#FFF";
//}
